.header {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  border-bottom: 1px solid rgba(108, 117, 125, 0.3);
  width: 100%;
}

.logo {
   flex: 1;
   font-size: 32px;
   font-weight: bold;
}

.button-menu {
  flex: 0;
  padding: 0;
  border: none;
  width: 30px;
  border-top: 3px solid;
  background-color: transparent;
  cursor: pointer;
}

.button-menu::after, .button-menu::before {
  content: '';
  display: block;
  width: 30px;
  height: 3px;
  background: black;
  margin-top: 5px ;
}

.button-menu-container {
  margin: 10px;
  padding: 10px;
  align-items: center;
}

.button-menu-container:hover {
  border-radius: 10px;
  background-color: rgba(108, 117, 125, 0.3);
  transition: 600ms;
}




